@import '../../../../theme/variables';

:host {
  display: grid;
  width: 100%;
  grid-template-areas: 'spoken signwriting signed';
  grid-template-columns: auto 100px 1fr;
  gap: 10px;
  background-color: var(--app-background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  @media #{$breakpoint-lt-sm} {
    grid-template-areas:
      'signed signed'
      'spoken signwriting';
    grid-template-columns: 1fr 100px;
    padding: 15px;

    app-signed-language-output {
      border-bottom: 1px solid var(--app-divider-color);
      margin-bottom: 10px;
    }
  }

  > *:not(:last-child) {
    border-inline-end: 1px solid var(--app-divider-color);
    padding-inline-end: 10px;
  }

  > * {
    transition: all 0.3s ease;
  }

  &:hover > *:not(:last-child) {
    border-color: var(--app-primary-color);
  }
}

app-sign-writing {
  grid-area: signwriting;
  padding: 5px;
  border-radius: 4px;
  background: var(--app-signwriting-bg-color, #f5f5f5);

  @media #{$breakpoint-lt-sm} {
    border: none !important;
    height: 195px;
  }
}

app-signed-language-output {
  grid-area: signed;
  border-radius: 4px;
  padding: 10px;
  background-color: var(--app-signed-language-bg-color, #e0f7fa);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--app-signed-language-hover-bg-color, #b2ebf2);
  }
}
